<template>
  <div class="feature-card" :class="{'feature-card--has-poster' : feature.poster}">
    <div class="feature-card__header">
      <g-image alt="Cover image" v-if="feature.cover_image" class="feature-card__image" :src="feature.cover_image" />
    </div>
    <div class="feature-card__content">
      <h3 class="feature-card__title" v-html="feature.title" />
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  props: ['feature'],
}
</script>

<style lang="scss">
.feature-card {
  background-color: var(--bg-content-color);
  position: relative;
  min-width: 230px;
  height: 295px;
  border-radius: 30px;
  padding: 30px 25px;
  white-space: break-spaces;

  &:first-child {
    margin-left: 100px;
  }

  &:last-child {
    margin-right: 100px;
  }

  &__header {
    text-align: center;
  }

  &__image {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin: auto;
  }

  &__title {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
	  font-family: 'Poppins', sans-serif;
    line-height: 30.1px;
  }
}
</style>
