<template>
  <Layout :show-logo="false">
    <Author :show-title="true" />

    <h2>Regardless of your<br/>future hiring plans</h2>
    <div class="features">
      <FeatureCard v-for="edge in $page.features.edges" :key="edge.node.id" :feature="edge.node"/>
    </div>

    <!-- <h2>Posts</h2>
    <div class="posts">
      <PostCard v-for="edge in $page.posts.edges" :key="edge.node.id" :post="edge.node"/>
    </div> -->

    <h2>Blog Stories</h2>
    <div class="blogs">
      <BlogCard v-for="edge in $page.blogs.edges" :key="edge.node.id" :blog="edge.node"/>
    </div>
  </Layout>
</template>

<page-query>
query {
  posts: allPost(filter: { published: { eq: true }}) {
    edges {
      node {
        id
        title
        date (format: "D. MMMM YYYY")
        timeToRead
        description
        cover_image (width: 770, height: 380, blur: 10)
        ...on Post {
        id
        title
        path
        }
        path
        tags {
          id
          title
          path
        }
      }
    }
  },

  features: allFeature {
    edges {
      node {
        id
        title
    
     
        cover_image (width: 770, height: 380, blur: 10)
        ...on Feature {
        id
        title
        path
        }
        path
     
      }
    }
  },

  blogs: allBlog {
    edges {
      node {
        id
        title
        cover_image (width: 770, height: 380, blur: 10)
        ...on Blog {
        id
        title
        path
        }
        path
      }
    }
  }
}
</page-query>

<script>
import Author from '~/components/Author.vue'
import PostCard from '~/components/PostCard.vue'

import FeatureCard from '~/components/Feature/FeatureCard.vue'

import BlogCard from '~/components/Blog/BlogCard.vue'

export default {
  components: {
    Author,
    PostCard,
    FeatureCard,
    BlogCard
  },
  metaInfo: {
    title: 'Home'
  }
}
</script>

<style lang="scss">
.features {
  display: flex;
  gap: 20px;
  overflow: auto;
  white-space: nowrap;
  margin-right: -100px;
  margin-left: -100px;
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.features::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.features {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.blogs {
  display: flex;
  gap: 20px;
}
</style>
