<template>
  <div class="blog-card" :class="{'blog-card--has-poster' : blog.poster}">
    <div class="blog-card__header">
      <g-image alt="Cover image" v-if="blog.cover_image" class="blog-card__image" :src="blog.cover_image" />
    </div>
    <div class="blog-card__content">
      <h3 class="blog-card__title" v-html="blog.title" />

      <div class="blog-card__arrow">
        <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23.4312 2.06885L1.56873 23.9313" stroke="#1B4B29" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M8.08325 1.95837L23.4312 2.06658L23.5416 17.4167" stroke="#1B4B29" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>

      <g-link class="post-card__link" :to="blog.path">Link</g-link>

    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  props: ['blog'],
}
</script>

<style lang="scss">
.blog-card {
  background-color: var(--bg-content-color);
  position: relative;
  height: 506px;
  border-radius: 30px;
  padding: 25px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1);
  }

  &__header {
    text-align: center;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin: 2.6rem 0;
  }

  &__arrow {
    height: 25px;
    margin-top: 5px;
  }

  &__image {
    height: 326px;
    border-radius: 30px;
    margin: auto;
  }

  &__title {
	  font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    margin: 0;
  }
}
</style>
